<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<!-- <div id="app">
    <p v-if="Math.random() > 0.5">Yo I am Ok!</p>
    <p v-else>Oups Not Ok!</p>
</div> -->

<div id="app">
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
        <input type="button" value="Toggle login type" v-on:click="toggleLoginType"/>
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
        <input type="button" value="Toggle login type" v-on:click="toggleLoginType"/>  
    </template>    
</div>

<div id="app2">
    <template>
        <h1 v-show="bello">Bello ;-)</h1>
    </template>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            ok: true,
            loginType: "username"
        },
        methods:{
            toggleLoginType: function(){
                this.loginType = this.loginType ==="username" ?  "email" : "username"
            }
        }
    })

    var myVm = new Vue({
        el: '#app2',
        data: {
            bello: true
        }
    })
</script>