            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<!-- Displaying Filtered/Sorted Results -->

<ul id="app" class="demo">
    <!-- <li v-for="(value, key, index) in object" :key ="object.id">
        {{index}}. {{ key }}: {{ value }}
    </li> -->
    <!-- <li v-for="item in data">
        {{ item }}
    </li> -->
    <!-- <li v-for="(value, key) in userProfile">
        {{key}}: {{value}} 
    </li> -->
    <!-- <li v-for=""> {{ n }}</li> -->
    <!-- <ul>
        <template v-for="item in items">
            <li>{{ item.msg }}</li>
            <li class="divider" role="presentation"></li>
        </template>
    </ul> -->
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{ todo }}
    </li>
</ul>

<script>
    var vm = new Vue({
        el:"#app",
        data: {
            // userProfile:{
            //     name: 'Anika'
            // }
            items: [
                {'msg':'foo'},
                {'msg': 'bar'},
                {'msg': 'bello'},
                {'msg': 'yellow'}
             ],    
            numbers: [1, 2, 3, 4, 5],
            todos: [
                {'msg':'foo', 'isComplete' : false},
                {'msg': 'bar', 'isComplete' : false},
                {'msg': 'bello', 'isComplete' : false},
                {'msg': 'yellow', 'isComplete' : true}
             ],    

        }
    })
    // Add reactive propeties
    // Vue.set(vm.userProfile, 'age', 27)
    // vm.$set(vm.userProfile, 'city', 'Velizy-VillaCoublay')
    
    // Add multiple properties => assign a new object
    // vm.userProfile = Object.assign({}, vm.userProfile, {
    //     age: 27,
    //     favoriteColor: 'Minion Yellow'
    // })
</script>