<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<!-- Object Change Detection Caveats -->

<ul id="app" class="demo">
    <!-- <li v-for="(value, key, index) in object" :key ="object.id">
        {{index}}. {{ key }}: {{ value }}
    </li> -->
    <!-- <li v-for="item in data">
        {{ item }}
    </li> -->
    <li v-for="(value, key) in userProfile">
        {{key}}: {{value}} 
    </li>
</ul>

<script>
    var vm = new Vue({
        el:"#app",
        data: {
            userProfile:{
                name: 'Anika'
            }
        }
    })
    // Add reactive propeties
    Vue.set(vm.userProfile, 'age', 27)
    vm.$set(vm.userProfile, 'city', 'Velizy-VillaCoublay')
    
    // Add multiple properties => assign a new object
    vm.userProfile = Object.assign({}, vm.userProfile, {
        age: 27,
        favoriteColor: 'Minion Yellow'
    })
</script>